# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
server/server
clientQt/clientQt

# Eclipse
.cproject
.project
.settings/

# Debug temporary directory
*-Debug/

# Qt temporary files
moc_*
clientQt/Makefile

# Qt user project file
clientQt.pro.user
*creator.user*